.grid-container {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
}

.Menu {
	grid-column: 1 / 2;
}

.Calendar {
	grid-column: 2 / 5;
}

.Job {
	grid-column: 2 / 5;
}

.AddJob {
	grid-column: 1 / 2;
}

#outlined-uncontrolled {
	border-radius: 0;
}