* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
  font-family: sans-serif;
  
}


a {
  text-decoration: none;
  color: #29a8ab;
  padding-left: 115px;
  font-size: 18px;
  
}
p {
  font-size: 22px;
}

input {
  border-style: none;
  border-radius: 7px;
}
textarea {
  border-style: none;
  border-radius: 7px;
}

button {
  border-style: none;
  border-radius: 7px !important;
  background-color: #cccccc;
  box-shadow: none !important;
  margin-top: 5px;
  
}

body {
  background: #eeeeee;
}

.login-page {
	position: relative;
	width: 100%;
	min-height: 100vh;
}
.login input,
.register input {
	margin-bottom: 15px;
}
.login,
.register {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: #eeeeee;
}
.login-page h2,
.login-page h3 {
	color: #29a8ab;
	padding-left: 90px;
}
.login-page h3 {
	text-align: center;
	text-transform: uppercase;
	margin-top: 15px;
}
.login-page p {
	margin: 10px 0;
	color: #29a8ab;
	margin-left: 80px;
}
.login-page span:hover {
	color: #ff8b94;
	cursor: pointer;
}
